$scaleFactor: 0.6;
$YLength: 30%;

.fade-enter {
  opacity: 0;
  filter: blur(15px);
  transform: translateY(-$YLength) scaleX($scaleFactor) scaleY($scaleFactor);
}
.fade-enter-active {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%) scaleX(1) scaleX(1);
}
.fade-exit {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%) scaleX(1) scaleY(1);
}
.fade-exit-active {
  opacity: 0;
  filter: blur(15px);
  transform: translateY($YLength) scaleX($scaleFactor) scaleY($scaleFactor);
}
.fade-enter-active,
.fade-exit-active {
  transition: filter 350ms, opacity 350ms, transform 350ms;
}
