// If the styling for any ant component needs to be overridden and should
// stay consistent across the site, it should go in here. Any specific
// styling should go in a separate scss file IMPORTANT: Any styling
// put in here will affect every component of the app. Because
// of specificity, some styles may need !important.
@import 'variables';

.ant-modal-title {
  font-size: 22px;
  font-weight: 600;
}

.ant-modal-content,
.ant-modal-header {
  border-radius: 12px;
}

.ant-modal-header {
  padding-top: 24px;
}

.ant-modal-footer {
  border-top: none;
  padding-top: 0;
  padding-bottom: 24px;
}

.ant-modal-footer {
  border-top: none;
  padding-top: 0;
  padding-bottom: 24px;
}

.ant-modal-body {
  font-size: 16px;
}

// Slightly darken the border of the list item
.ant-upload-list-item {
  border-color: hsl(0, 0%, 78%) !important;
}

.ant-list-item-meta-title {
  font-weight: 400;
  font-size: 16px;
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}

.ant-alert {
  border-radius: 6px;
}

// The title for ant's Alert component
.ant-modal-confirm-title,
.ant-alert-message {
  font-weight: 600 !important;
}

// The body of ant's Alert component
.ant-alert-description,
.ant-dropdown-menu-item,
.ant-modal-confirm-content,
.ant-popover-message-title {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-size: 16px !important;
}

.ant-dropdown-menu-item {
  padding: 8px 12px;
}

// Overrides ant's input style. Also applies to the
// <Input.Search /> component
.ant-input-wrapper.ant-input-group input,
.ant-input {
  padding: 6px 12px;
  border-radius: 5px;
  border-color: hsl(0, 0%, 78%);
  box-shadow: none;
  font-size: 16px;

  &::placeholder {
    // Darken the default placeholder text color
    // to make it a bit more readable
    color: hsl(0, 0%, 55%);
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    font-size: 16px;
  }

  &:focus {
    box-shadow: none;
    border-color: lighten(map-get($variant-colors, 'primary'), 20%);
  }

  &:disabled:hover {
    border-color: unset;
  }
}

// The icon that ant renderers to the right of
// the image file preview component
span.anticon.anticon-delete {
  font-size: 20px;
}

// Overrides the font size for ant's <Checkbox /> component
.ant-checkbox-wrapper span {
  font-size: 16px;
}

// Overrides the title of ant's notification message
.ant-notification-notice-message {
  font-weight: 600;
}

// Overrides the body of ant's notification message
.ant-notification-notice-description {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;
  font-size: 16px !important;
}

.ant-message-notice {
  font-size: 16px;
}

.ant-dropdown {
  box-shadow: rgb(0, 0, 0, 20%) 0px 5px 15px;
}

.ant-btn {
  transition: 0.5s;
  border-radius: 5px;
  border: none;
  box-shadow: none;
  text-shadow: none;
  font-weight: bold;

  &:hover {
    background-color: rgba(211, 211, 211, 0.452);
    color: black;
    transition: 0.5s;
  }

  &:disabled {
    color: rgba(0, 0, 0, 0.25) !important;
    background-color: rgba(211, 211, 211, 0.452) !important;
    transition: 0.5s;
  }
}

// Iterate over the color map and construct variants from it's keys and values.
@each $color, $value in $variant-colors {
  .ant-btn.ant-btn-#{$color} {
    color: $value;
    background-color: lighten(rgba($value, 0.2), 35%);

    &:hover {
      background-color: $value;
      color: white;
      transition: 0.5s;
    }
  }
}

.ant-btn-dangerous {
  $danger-color: map-get($variant-colors, 'danger');
  color: $danger-color;

  &:hover {
    background-color: lighten(rgba($danger-color, 0.2), 35%);
    color: $danger-color;
  }
}

// Removes the light blue color from ant's modal
// confirm button
.ant-modal-confirm-btns .ant-btn:focus {
  color: unset;
}
