@import 'variables';

.group-list {
  font-family: 'DM Sans', Arial, Helvetica, sans-serif;

  .ant-list-item {
    border-bottom: none;
    cursor: pointer;
  }

  .ant-list-item-meta-content * {
    font-size: 16px;
  }

  .ant-list-item-meta-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .ant-list-item-meta-description {
    color: hsl(0, 0%, 40%);
    font-size: 14px;
  }

  .ant-list-empty-text {
    color: hsl(0, 0%, 40%);
    font-size: 15px;
    text-align: left;
    padding: 0;
  }

  .ant-avatar {
    border-radius: 10px;
    background-color: white;
    color: darken(map-get($variant-colors, 'primary'), 10%);
    background-color: lighten(map-get($variant-colors, 'primary'), 58%);

    .ant-avatar-string {
      font-size: 20px;
      font-weight: 800;
      text-transform: uppercase;
    }
  }

  .ant-list-header {
    border: none;
  }

  .list-header {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }
  
  .selected {
    font-weight: 800;
  }

  .title {
    text-overflow: ellipsis;
  }
}
