.image-upload-modal {
  .ant-upload-list.ant-upload-list-picture {
    margin-top: 24px;
  }

  .ant-alert {
    margin-bottom: 16px;
  }

  .input-wrapper {
    margin-top: 16px;
  }

  .caption-input {
    padding: 6px 12px;
    border-radius: 2px;
    border-color: hsl(0, 0%, 78%);
  }

  .subtitle {
    font-weight: 400;
    font-size: 14px;
  }

  .input-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }

  .group-hint {
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 0;
    color: hsl(0, 0%, 35%);
  }
}
