@import "variables";
@import "shadow";

.landing-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  overflow-x: hidden;
}

.landing-body {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  background-image: url("../assets/Splash.png");
  background-size: contain;
  box-sizing: border-box;
}

.landing-title-container {
  display: flex;
  flex-direction: column;
}

.landing-header {
  font-size: 24px;
  font-weight: 500;
  color: rgba(0,0,0,0.31);
  display: inline-flex;
  margin-top: 0;
  padding: 10px;
}

.title-header {
  font-size: 52px;
  font-weight: 600;
  color: black;
  //background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  padding: 10px;
  margin: 0;
  flex-flow: column;
}

.landing-header-container {
  @extend .drop-shadow-lg;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255,255,255, 0.95);
  width: 50%;
  max-width: 350px;
  margin: 30px;
  border-radius: 10px;
  padding: 30px;
  backdrop-filter: blur(15px);
}

.img-left {
  width: 50%;
}

.test {
  height: 100%;
}

.landing-card-content-container {
  display: flex;
  min-height: 100px;
  min-width: 70px;
  flex: 1;

  //padding-left: 20px;
  //padding-right: 20px;

  input {
    margin-bottom: 12px;
  }

  .input-group {
    display: flex;

    input:first-child {
      margin-right: 8px;
    }

    input:last-child {
      margin-left: 8px;
    }
  }

  button {
    width: 100%;
  }

  .btn-submit,
  .btn-link {
    width: 100%;
  }

  .btn-link {
    margin-top: 7px;
    background-color: transparent;
    padding: 8px;
    color: map-get($variant-colors, 'primary');

    &:hover {
      color: map-get($variant-colors, 'primary');
      background-color: unset;
      transition: unset;
    }
  }
}

.card-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // text-align: center;
}

.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-height: 550px;
}

.landing-card {
  @extend .landing-card;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //padding: 20px;
  text-align: center;

  .ant-alert {
    align-self: normal;
    border-radius: 6px;
    text-align: left;
  }
}
