@import 'variables';

.main-page {
  height: 100vh;

  &.ant-layout {
    background-color: white;
  }

  .main-content {
    background-color: white;
    margin-left: $sidebar-width;
    margin-top: $navbar-height;
  }
}
