@import 'variables';

.main-page-body {
  height: 100vh;
  display: flex;
  flex-direction: column;

  &.ant-layout {
    background-color: white;
  }

  .body-content {
    display: flex;
    height: 100%;
  }
  
  .main-content {
    // This is only gray for viewability, it will be removed in future builds.
    background-color: lightgray;
    flex: 1;
    padding: 20px;
  }
}
