@import 'variables';

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 20px !important;
  z-index: 5;
  top: 0;

  .title {
    font-weight: 600;
    font-size: 32px;
    margin: 0;
  }

  margin-bottom: 10px;

  // Override ant's default styling
  &.ant-layout-header {
    background-color: white;
    margin-bottom: 0 !important;
    height: $navbar-height;
    width: 100%;
  }

  .avatar-button {
    cursor: pointer;
  }

  .ant-avatar-string {
    font-weight: 700;
    text-transform: uppercase;
  }
}

.invisible-backing {
  height: $navbar-height;
}

// Small hack: The text in <Popconfirm /> doesn't take up the full width
// of the menu so we need to disable that option's  and add padding to
// the text in <Popconfirm />
.logout-menu-option{
  padding: 0 !important;

  .logout-confirm-popup {
    display: block;
    padding: 8px 12px;
  }
}
