@import 'variables';

.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  padding: 20px !important;
  z-index: 5;
  top: 0;

  .title {
    font-weight: 600;
    font-size: 32px;
    margin: 0;
  }

  margin-bottom: 10px;

  // Override ant's default styling
  &.ant-layout-header {
    background-color: white;
    margin-bottom: 0 !important;
    height: $navbar-height;
    width: 100%;
  }
}

.invisible-backing {
  height: $navbar-height;
}

.avatar-button {
  cursor: pointer;
}