@import 'variables';

.photo-grid {
    display: flex;
    flex-wrap: wrap;
}

.photo-thumbnail {
    width: 250px;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    object-fit: cover;
    border-radius: 20px;
    transition: 400ms;

    &:hover {
        box-shadow: map-get($map: $box-shadows, $key: 'md');
        transition: 400ms
    }
}