@import 'variables';

.photo-grid-container {
  display: flex;
  flex: 1;

  &.loading {
    justify-content: center;
    align-items: center;
    // Not using flex: 1 here since that can make the
    // loading overlay seem slightly off center.
    flex: 0.87;
  }

  .ant-spin-text {
    margin-top: 16px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    color: hsl(0, 0%, 30%);
  }

  .empty-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    .title {
      font-size: 28px;
      font-weight: 600;
      margin-bottom: 0;
      margin-top: 24px;
    }

    .description {
      font-size: 18px;
      color: hsl(0, 0%, 40%);
      text-align: center;
      font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    }
  }

  .empty-img {
    width: 40%;
    max-width: 40%;
    min-width: 300px;
  }
}

.photo-grid {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail-wrapper {
  border-radius: $image-border-radius;
  margin: 10px;
  position: relative;
  transition: box-shadow 400ms ease-in-out;
  cursor: pointer;

  .thumbnail-caption {
    border-bottom-left-radius: $image-border-radius;
    border-bottom-right-radius: $image-border-radius;
    background-color: hsla(0, 0%, 10%, 70%);
    color: white;
    padding: 6px;
    font-size: 14px;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

    .caption {
      margin: 0 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &:hover {
    box-shadow: map-get($box-shadows, 'md');
    .thumbnail-caption {
      opacity: 1;
    }
  }
}

.photo-thumbnail {
  width: 250px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  transition: 400ms;
  overflow: hidden;
}

.ant-image {
  background-color: transparent !important;
  transition: 400ms;
  display: inline;

  img {
    border-radius: $image-border-radius;
  }
}

.ant-image:hover {
  transition: 400ms;
  background-color: transparent !important;
}

.ant-image-mask {
  background-color: transparent !important;
}

.ant-image-mask-info {
  background-color: transparent !important;
  display: none;
}
