@import 'variables';

.register-card {
  padding-left: 40px;
  padding-right: 40px;

  input {
    margin-bottom: 12px;
  }
  .input-group {
    display: flex;

    input:first-child {
      margin-right: 8px;
    }

    input:last-child {
      margin-left: 8px;
    }
  }

  .btn-submit,
  .btn-login {
    width: 100%;
  }

  .btn-login {
    margin-top: 16px;
    background-color: transparent;

    &:hover {
      color: map-get($variant-colors, 'primary');
    }
  }
}
