.verify-email-modal {
  .modal-body {
    margin: 0;
    margin-top: 16px;
    color: hsl(0, 0%, 35%);
  }

  .input-title {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
  }
}
